{% extends 'base.html' %}

{% block content %}
<div class="home_page_container">
    <h1 class="page_name">{{ content.page_name }}</h1>
    <div class="sub_title_content">
        <h3>{{ content.page_subtitle }}</h3>
    </div>
    <div class="main_section">
        <div class="top_section">

        </div>

        <div class="bond_bar">
            <div class="bond_percentage_text">
                <p>Percent Bonded: {{ price_info_parsed.percent_bond }}%</p>
            </div>
            <div class="fraction_bonded" style="width: {{ price_info_parsed.fraction_bonded * 100 }}%"></div>
            <div class="fraction_remaining" style="width: {{ price_info_parsed.fraction_remaining * 100 }}%"></div>
        </div>

        <div class="bottom_section">
            <h1>Current Market Cap: ${{ price_info_parsed.marketCap }}</h1>
            <h4>24hr Volume: {{ price_info_parsed.volume.hr24 }}</h4>
            <h4>6hr Volume: {{ price_info_parsed.volume.hr6 }}</h4>
            <h4>1hr Volume: {{ price_info_parsed.volume.hr1 }}</h4>
            <h4>5min Volume: {{ price_info_parsed.volume.m5 }}</h4>
        </div>
    </div>

</div>

<script src='https://terminal.jup.ag/main-v3.js'></script>
<script>
    window.Jupiter.init({
    displayMode: "widget",
    endpoint: "https://long-greatest-crater.solana-mainnet.quiknode.pro/84855c0db92789861c7c482ef6dbd5e52b1cfbc7",
    strictTokenList: false,
    formProps: {
        fixedOutputMint: true,
        swapMode: "ExactIn",
        initialOutputMint: "MSGYLRarqfxgoigPTE8qSDrLzu4hXsHhLzYjeX2pump",
        platformFeeBips: 20,
        platformFeeAccount: "HJrDpLcmMAkVKa5CRBiqqQxnmD2tRW7AE7YkNXTwwg68",
    },
    });
</script>
{% endblock %}
    <div class="main_section">
        <div class="top_section">

        </div>
        <div class="bottom_section">
            <ul>
                {% for social in content.socials %}
                <li class="social_item">
                    <img class="social_logo" src="{{ url_for('about.static', filename='images/' + social.platform_logo) }}" alt="{{ social.platform }}">
                    <a class="social_link" href="{{ social.platform_link }}" target="_blank">{{ social.platform_username }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>