

.buy-page-container {
    background-image: url('/static/images/main_background.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh; 
    padding: 20px; 
}



.buy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 1400px;
    height: 100vh;
}


.top-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-grow: 1; 
    align-items: stretch; 
}

.chart-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    background: white;
    border: 2px solid black;
    height: 100%;
}

.chart-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.widget-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 100%;
}

.widget-container #integrated-terminal {
    width: 100%;
    height: 100%;
}

.blog-container {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    padding: 10px;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

