<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}{{ title }}{% endif %}
        </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
        <script src="{{ url_for('static', filename='common.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='buy.css') }}">
        <script src="{{ url_for('static', filename='buy.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
        <script src="{{ url_for('static', filename='about.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
        <script src="{{ url_for('static', filename='home.js') }}"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold fs-4" href="{{ url_for('home.home') }}" style="padding-left: 10px;">Home</a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#navbarSupportedContent" 
                            aria-controls="navbarSupportedContent" aria-expanded="false" 
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('buy.buy') }}">Buy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about.about') }}">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="logo-container">
                    <a href="https://t.me/elonsglizzy" target="_blank"><img src="{{ url_for('static', filename='images/tg_logo.png') }}" alt="TG Logo" class="nav-logo"></a>
                    <a href="https://x.com/getelonsglizzy" target="_blank"><img src="{{ url_for('static', filename='images/Twitter-X-Logo.png') }}" alt="Twitter Logo" class="nav-logo"></a>
                    <a href="https://dexscreener.com/solana/MSGYLRarqfxgoigPTE8qSDrLzu4hXsHhLzYjeX2pump" target="_blank"><img src="{{ url_for('static', filename='images/dex_logo.png') }}" alt="DEX Logo" class="nav-logo"></a>
                </div>
            </nav>            
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
        </footer>

    </body>
</html>
